<footer class="border-t border-gray-200 bg-gray-100 mt-16 bottom-0">
  <div
    class="max-w-7xl mx-auto px-6 py-6 flex flex-col md:flex-row justify-between items-center gap-4"
  >
    <div class="flex flex-wrap items-center gap-2 text-gray-700 text-sm">
      <span>&copy; 2026 Trekzo, Inc.</span>
      <span>&bull;</span>
      <a href="#" class="hover:underline">Privacy</a>
      <span>&bull;</span>
      <a href="#" class="hover:underline">Terms</a>
      <span>&bull;</span>
      <a href="#" class="hover:underline">Company details</a>
    </div>

    <div class="flex items-center gap-5 text-xl text-gray-600">
      <a
        href="https://github.com/punit2101"
        class="hover:text-black transition-colors duration-200"
      >
        <i class="fa-brands fa-github"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/punit-aggarwal/"
        class="hover:text-blue-600 transition-colors duration-200"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a
        href="https://www.instagram.com/punit_soul/"
        class="hover:text-pink-500 transition-colors duration-200"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
